{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <header class="bg-light fixed-top">
        <nav>
            <ul class="text-uppercase justify-content-evenly align-items-center pt-3 d-none d-md-flex">
                <li><a href="#project">Mes Projets</a></li>
                <li><a href="#skill">Mes Compétences</a></li>
                <li><a href="#about-me">Qui suis-je ?</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <div id="menu_burger">
            <span></span>
            <span></span>
            <span></span>
        </div>


        <div id="nav-container" class="  d-flex d-md-none">
            <div class="bg"></div>
            <div class="v-100 bg-light fixed-top"></div>
            <div class="button " tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content" tabindex="0">
                <ul>
                    <li><a href="#project">Mes Projets</a></li>
                    <li><a href="#skill">Mes Compétences</a></li>
                    <li><a href="#about-me">Qui suis-je ?</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>


        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    </header>


    <!-- Corps de la page -->
    <div id="home" class="container-fluid bg-secondary  pb-5">

        <div class="row d-flex justify-content-center pt-5">
            <img src="img/mac-banner-pano.png" alt="" class=" img-fluid banner d-none d-md-block g-0  "/>
            <img src="img/mac-banner-reduce.png" alt="" class=" img-fluid banner d-block d-md-none g-0  "/>

        </div>
        <div class="d-flex align-content-sm-around flex-column  flex-grow-1 bg-success  ">

        <div class=" d-flex justify-content-center flex-wrap my-5 ">

            <div class=" me-sm-3">
                <img src="img/photo_profil.jpg" alt="profil"
                     class="profil-page1 img-fluid rounded-circle border border-5 d-flex justify-content-center align-items-top"/>
            </div>

            <div class=" ms-sm-3 text-center text-md-start bg-primary">
                <div>
                    <h1 class="merryweather">Daniel Prabhakar</h1>
                    <h2 class="">Concepteur Développeur d'Applications Web</h2>
                    <h3 class="">Région Alsace, France</h3>
                </div>
            </div>
        </div>


        <div class="row d-inline-block d-flex justify-content-center icon-page1">
            <div class="col-md-4 col-12 d-flex justify-content-evenly">
                <ul class="social_network">
                    <li><a href="#contact"><img src="img/mail-2.png" alt="mail" class="image_contact"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/daniel-prabhakar-dev" target="_blank"><img
                                    src="img/linkedin-2.png" alt="linkedin" class="image_contact"></a>
                    </li>
                    <li><a href=""><img src="img/cv-3.png" alt="cv" class="image_contact"></a>
                    </li>
                    <li><a href="https://github.com/danielp67" target="_blank"><img src="img/github-2.png"
                                                                                    alt="github" class="image_contact"></a>
                    </li>
                </ul>
            </div>

        </div>

        </div>
    </div>


    <!-- Listes des projets en Carousel  ------------------------------------------------------------------------------------------->


    <div   class="bg-projet-content">
        <div id="project" class="container text-white py-5">
            <h2 class=" text-projet  text-center">Mes projets</h2>

            <!-- Ski Manager -->

            <div class="row vh-100 scroll">
                <div class="col-lg-4 col-md-6 text-center d-flex align-items-center">
                    <div>
                        <h5 class="fs-3">Ski Championships Manager</h5>
                        <p class="fs-6">Un système de gestion des compétitions de ski de la police française.
                            J'ai réalisé ce projet en 1 mois en PHP avec une architecture MVC et en TDD, et en implémentant
                            des designs patterns. <br>
                        </p>
                        <p class="fs-6">Technologies utilisées : Php dont plusieurs composants de Symfony, UML et wireframe,
                            Phpunit et Pest pour les tests </p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./ski_championships_manager/index.php" class="btn btn-violet btn-lg"
                                                                     target="_blank">Voir le site</a></li>
                            <li><a class="btn btn-violet btn-lg"
                                   href="https://github.com/danielp67/Ski_Championship_Manager_PHP" target="_blank">
                                    <img src="img/GitHub-Mark-32px.png" alt="github"/>
                                </a></li>
                        </ul>
                        <img src="img/projet3.png" class="img-projet d-md-none mt-5" alt="Ski Championships Manager display">

                    </div>
                </div>

                <div class="col-lg-8 col-md-6 d-md-flex align-items-md-center d-none">
                    <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button class="active bg-violet" type="button" data-bs-target="#carousel3" data-bs-slide-to="0"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button class="bg-violet" type="button" data-bs-target="#carousel3" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button class="bg-violet" type="button" data-bs-target="#carousel3" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button class="bg-violet" type="button" data-bs-target="#carousel3" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            <button class="bg-violet" type="button" data-bs-target="#carousel3" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>

                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/ski_manager/Image1.png" alt="Slide 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-violet">Écran d'accueil</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/ski_manager/Image2.png" alt="Slide 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-violet">Validation de l'upload</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/ski_manager/Image3.png" alt="Slide 3">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-violet">Réception du mail chez le destinataire</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/ski_manager/Image5.png" alt="Slide 4">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-violet">Écran de téléchargement</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/ski_manager/Image7.png" alt="Slide 5">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-violet">Téléchargement du fichier</h5>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>


            <!-- Online Games ReactJS -->

            <div class="row vh-100 my-5 scroll">
                <div class="col-lg-4 col-md-6 text-center d-flex align-items-center">
                    <div>
                        <h5 class="fs-3">Online Games en ReactJS</h5>
                        <p class="fs-6">Un site référençant les jeux vidéos les plus populaires.<br>
                            J'ai réalisé ce projet en 3 semaines en ReactJS en implémentant des filtres et une barre de
                            recherche dynamiques ainsi qu'un mode sombre.
                            Enfin l'ajout et l'édition de commentaires.<br>
                            L'application fonctionne en étant connecté à l'API Online Games
                        </p>
                        <p class="fs-6">Technologies utilisées : ReactJS, Axios </p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./online_games_reactjs" class="btn btn-success btn-lg" target="_blank">Voir le
                                    site</a></li>
                            <li><a class="btn btn-success btn-lg" href="https://github.com/danielp67/Online_Games_React_JS"
                                   target="_blank">
                                    <img src="img/GitHub-Mark-32px.png" alt="github"/>
                                </a></li>
                        </ul>
                        <img src="img/projet4.png" class="img-projet d-md-none mt-5" alt="Online Games reference your best video games">

                    </div>
                </div>

                <div class="col-lg-8 col-md-6 d-md-flex align-items-md-center d-none">
                    <div id="carousel4" class="carousel slide" data-bs-ride="carousel" >
                        <div class="carousel-indicators">
                            <button class="active bg-success" type="button" data-bs-target="#carousel4" data-bs-slide-to="0"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel4" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel4" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel4" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel4" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>

                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/online_games_react/Image1.png" alt="Slide 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Écran d'accueil avec filtres</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_react/Image2.png" alt="Slide 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Liste des jeux</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_react/Image3.png" alt="Slide 3">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Possibilité d'ajouter et éditer des commentaires</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_react/Image4.png" alt="Slide 4">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Mode sombre</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_react/Image5.png" alt="Slide 5">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Barre de recherche avec auto-completion</h5>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>


            <!-- Online Games API -->

            <div class="row vh-100 scroll">
                <div class="col-lg-4 col-md-6 text-center d-flex align-items-center">
                    <div>
                        <h5 class="fs-3">Online Games API</h5>
                        <p class="fs-6">L'API contenant les jeux vidéos les plus populaires.<br>
                            J'ai réalisé ce projet en 2 semaines en Symfony en testant avec Postman pour vérifier les
                            différentes ressources de l'API puis réalisé la connexion avec le projet Online Games en
                            ReactJS.
                            La document complete de l'API est disponible ici.
                        </p>
                        <p class="fs-6">Technologies utilisées : Symfony, Postman pour vérifier les appels à l'API,
                            Swagger.io pour la documentation API </p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./online_games_api/public/home" class="btn btn-success btn-lg" target="_blank">Voir
                                    le site</a></li>
                            <li><a class="btn btn-success btn-lg"
                                   href="https://github.com/danielp67/Online_Games_API_Symfony" target="_blank">
                                    <img src="img/GitHub-Mark-32px.png" alt="github"/>
                                </a></li>
                        </ul>
                        <img src="img/projet5.png" class="img-projet d-md-none mt-5" alt="Online Games API provides the best data for you">

                    </div>
                </div>

                <div class="col-lg-8 col-md-6 d-md-flex align-items-md-center d-none">
                    <div id="carousel5" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button class="active bg-success" type="button" data-bs-target="#carousel5" data-bs-slide-to="0"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel5" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel5" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel5" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            <button class="bg-success" type="button" data-bs-target="#carousel5" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>

                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/online_games_api/Image1.png" alt="Slide 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Test de l'envoi de données avec Postman</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_api/Image2.png" alt="Slide 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Test d'une méthode GET</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_api/Image3.png" alt="Slide 3">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Test d'une méthode POST</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_api/Image4.png" alt="Slide 4">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Documentation API avec la liste des ressources</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/online_games_api/Image5.png" alt="Slide 5">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-success">Documentation API avec le schéma des données</h5>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel5"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel5"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>



            <!-- Bomberman -->

            <div class="row vh-100 scroll">
                <div class="col-lg-4 col-md-6 text-center d-flex align-items-center">
                    <div>
                        <h5 class="fs-3">Bomberman en JS</h5>
                        <p class="fs-6">Un projet réalisé en 1 semaine en Javascript uniquement. Avec effets spéciaux, et
                            habillage sonore. Fonctionne également sur mobile.</p>
                        <p class="fs-6">Technologies utilisées : Javascript, Html, Css</p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./bomberman_js/index.html"
                                                                     class="btn btn-warning btn-lg" target="_blank">Voir le
                                    site</a></li>
                            <li><a class="btn btn-warning " href="https://github.com/danielp67/Bomberman_JS"
                                   target="_blank">
                                    <img src="/img/GitHub-Mark-32px.png" alt="github"/>
                                </a></li>
                        </ul>
                        <img src="img/projet1.png" class="img-projet d-md-none mt-5" alt="amazing bomberman in javascript">

                    </div>
                </div>


                <div class="col-lg-8 col-md-6 d-md-flex align-items-md-center d-none">

                    <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button class="active bg-warning" type="button" data-bs-target="#carousel1" data-bs-slide-to="0"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button class="bg-warning" type="button" data-bs-target="#carousel1" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button class="bg-warning" type="button" data-bs-target="#carousel1" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button class="bg-warning" type="button" data-bs-target="#carousel1" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/bomberman/start.png" alt="Slide 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-warning text-white">Écran d'accueil</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/bomberman/inplay.png" alt="Slide 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-warning text-white">Écran de jeu</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/bomberman/options.png" alt="Slide 3">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-warning text-white">Options</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/bomberman/win.png" alt="Slide 4">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-warning text-white">Écran de fin</h5>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel1"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>



            <!-- Weezip -->

            <div class="row vh-100 scroll">
                <div class="col-lg-4 col-md-6 text-center d-flex align-items-center ">
                    <div>
                        <h5 class="fs-3">WeeZip 2.0</h5>
                        <p class="fs-6">Une alternative à WeTransfer.
                            J'ai réalisé ce projet en 2 semaines en PHP avec une architecture MVC.
                            Possibilité d'envoyer plusieurs fichiers, et gestion du drag and drop.
                        </p>
                        <p class="fs-6">Technologies utilisées : Php, Javascript, Html, Css, Mailtrap (pour l'envoi
                            d'email)</p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./wetransfer_php/index.php" class="btn btn-primary btn-lg" target="_blank">Voir le
                                    site</a></li>
                            <li><a class="btn btn-primary btn-lg" href="https://github.com/danielp67/WeTransfer_php"
                                   target="_blank">
                                    <img src="img/GitHub-Mark-32px.png" alt="github"/>
                                </a></li>
                        </ul>
                        <img src="img/projet2.png" class="img-projet d-md-none mt-5" alt="Weezip2.0 an alternative of WeTransfer">

                    </div>
                </div>

                <div class="col-lg-8 col-md-6 d-md-flex align-items-md-center d-none">

                    <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button class="bg-primary active" type="button" data-bs-target="#carousel2" data-bs-slide-to="0"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button class="bg-primary" type="button" data-bs-target="#carousel2" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button class="bg-primary" type="button" data-bs-target="#carousel2" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button class="bg-primary" type="button" data-bs-target="#carousel2" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            <button class="bg-primary" type="button" data-bs-target="#carousel2" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>

                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/weezip/Image1.png" alt="Slide 1">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-primary">Écran d'accueil</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/weezip/Image2.png" alt="Slide 2">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-primary">Validation de l'upload</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/weezip/Image3.png" alt="Slide 3">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-primary">Réception du mail chez le destinataire</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/weezip/Image4.png" alt="Slide 4">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-primary">Écran de téléchargement</h5>
                                    <br>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/weezip/Image5.png" alt="Slide 5">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="btn btn-primary">Téléchargement du fichier</h5>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel2"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>


        </div>
    </div>


    <!-- Mes compétences -->

    <div  class="bg-skill-content">
        <div class="container-fluid">
            <section id="skill" class="py-5">

                <h2 class=" text-projet  text-center">Mes compétences</h2>

                <div class="row scroll2">

                    <div class="offset-md-3 col-md-6 offset-1 col-10 text-center">
                        <h3 class="text-skill" >Hard Skills</h3>
                        <div class="my-5 bg-glass  d-flex align-content-around  flex-column ">
                            <p class="m-4">Concevoir une application Web à partir d’un cahier des charges ou un
                                scénario utilisateur
                            </p>
                            <p class="m-4 ">Comprendre le besoin client en modélisant une solution adaptée sous
                                forme d’UML
                            </p>
                            <p class="m-4 ">Développer une application organisée en couche (MVC) en intégrant les
                                principes SOLID et les designs patterns
                            </p>
                            <p class="m-4 ">Utiliser la méthodologie TDD
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row scroll2">

                    <div class="offset-1 col-10 offset-md-2 col-md-8  offset-xl-3 col-xl-6  offset-xxl-4 col-xxl-4 text-center px-3">

                        <h3 class="text-skill" >Technologies utilisées</h3>
                        <div class="my-5 bg-glass">

                            <img class="skills-logo" src="/img/svg/symfony.svg" alt="">
                            <img class="skills-logo" src="/img/svg/php-1.svg" alt="">
                            <img class="skills-logo" src="/img/svg/docker-3.svg" alt="">
                            <img class="skills-logo" src="/img/svg/phpunit.svg" alt="">
                            <img class="skills-logo" src="/img/svg/mysql-5.svg" alt="">
                            <img class="skills-logo" src="/img/svg/git-icon.svg" alt="">
                            <img class="skills-logo" src="/img/svg/bootstrap-5-1.svg" alt="">

                            <img class="skills-logo" src="/img/svg/react-2.svg" alt="">
                            <img class="skills-logo" src="/img/svg/java.svg" alt="">
                            <img class="skills-logo" src="/img/svg/android-logomark.svg" alt="">
                            <img class="skills-logo" src="/img/svg/github-icon-1.svg" alt="">
                            <img class="skills-logo" src="/img/svg/javascript.svg" alt="">
                            <img class="skills-logo" src="/img/svg/HTML5_logo_and_wordmark.svg" alt="">
                            <img class="skills-logo" src="/img/svg/CSS.3.svg" alt="">
                        </div>

                    </div>
                </div>



                <div class="row scroll2">
                    <div class="offset-md-3 col-md-6 offset-1 col-10 text-center">

                        <h3 class="text-skill" >Soft Skills</h3>

                        <div class="my-5 bg-glass  d-flex align-content-around  flex-column ">
                            <p class="m-4">Capacité d'adaptation rapide
                            </p>
                            <p class="m-4">Autonome et efficace
                            </p>
                            <p class="m-4">Esprit d’analyse et de synthèse
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row scroll2">
                    <div class="offset-md-3 col-md-6 offset-1 col-10 text-center">

                        <h3 class="text-skill" >Mes ++</h3>
                        <div class="my-5 bg-glass  d-flex align-content-around  flex-column ">
                            <p class="m-4">10 ans d'expériences en tant qu'ingénieur mécanique
                            </p>
                            <p class="m-4">Capable de gérer des projets avec management d’équipe
                            </p>
                            <p class="m-4">Anglais opérationnel
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <section  id="about-me"  class="row vh-100 d-flex align-items-center py-5">

                <div class="col-lg-4 offset-lg-1 text-center ">

                    <h2 class="text-projet-side">Qui suis-je ?</h2>
                    <p class="my-5">Bienvenue sur mon profil. <br/>
                        Je m'appelle Daniel, j'ai 32 ans et je vis à Colmar.<br/><br/>

                        Attiré depuis plusieurs années par le domaine informatique, j’ai décidé de
                        me reconvertir pour devenir un concepteur développeur d’applications Web
                        après une formation initiale en tant qu’ingénieur mécanique.<br/><br/>

                        Alors un projet, une idée, ou même tout autre chose... <br/>
                        je suis à votre disposition !
                    </p>
                </div>

                <div class="col-lg-6  offset-lg-1 d-none d-lg-block g-0">
                    <img src="/img/laptop-2562325_1920.jpg" alt="" class="img-fluid"/>
                </div>

            </section>


            <section id="contact" class="row py-5">
                <div class=" text-center">

                    <h2 class="text-projet-side">Restons en contact</h2>
                </div>

                <div class=" text-center px-3 py-5 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">


                    {{ form_start(form,  {'attr': {"class" : "my-5 fs-6 fw-normal"}}) }}

                    <div class="form__group field mb-5">

                    {{ form_widget(form.username,  {'attr': {"class" : "form__field", "placeholder" : "Nom"}}) }}
                        <label class="form__label" for="message_username"> <i class="fa fa-user" aria-hidden="true"></i> Votre nom</label>
                        <span class="form__tips"> Invalide !</span>
                        <br>
                    </div>
                    <div class="form__group field mb-5">

                        {{ form_widget(form.email) }}
                        <label class="form__label" for="message_email"> <i class="fa fa-envelope" aria-hidden="true"></i>
                            Votre email</label>
                        <span class="form__tips"> Invalide !</span>
                        <br>
                    </div>
                    <div class="form__group field mb-5">
                        {{ form_widget(form.content) }}
                        <label class="form__label" for="message_content"> <i class="fa fa-pencil" aria-hidden="true"></i>
                            Votre message</label>
                        <span class="form__tips"> Invalide !</span>
                        <br>
                    </div>

                    <button type="submit" class="btn bg-glass submit-button">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Envoyer
                    </button>

                    {{ form_end(form) }}

                </div>
            </section>

        </div>

        <a id="floating-button" href="#" class="float border" style="opacity: 0;">
            <i class="fa fa-chevron-up my-float"></i>
        </a>


        <footer id="bg-footer" class="bg-glass-2 container-fluid">
            <div class="row h-50 d-inline-block d-flex justify-content-center icon-page1">
                <div class="col-md-4 col-12 d-flex justify-content-evenly">
                    <ul class="social_network">
                        <li><a href="#contact"><img src="img/mail-2.png" alt="mail" class="image_contact"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/daniel-prabhakar-dev" target="_blank">
                                <img src="img/linkedin-2.png" alt="instagram" class="image_contact"></a>
                        </li>
                        <li><a href=""><img src="img/cv-3.png" alt="cv" class="image_contact"></a>
                        </li>
                        <li><a href="https://github.com/danielp67" target="_blank">
                                <img src="img/github-2.png" alt="github" class="image_contact"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>


    </div>



    <div id="bottom-shadow" class="bottom-shadow">

    </div>


    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Confirmez l'envoi du formulaire ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
