{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <header class="bg-dark text-white fixed-top">
        <nav>
            <ul class="text-uppercase justify-content-evenly align-items-center pt-3 d-none d-md-flex fs-6">
                <li><a href="#project">Mes Projets</a></li>
                <li><a href="#skill">Mes Compétences</a></li>
                <li><a href="#about-me">Qui suis-je ?</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>



        <div id="nav-container" class="d-flex d-md-none">
            <div class="bg"></div>
            <div class="v-100 bg-light fixed-top"></div>
            <div class="button " tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content" tabindex="0">
                <ul>
                    <li><a href="#project">Mes Projets</a></li>
                    <li><a href="#skill">Mes Compétences</a></li>
                    <li><a href="#about-me">Qui suis-je ?</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>


        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    </header>


    <!-- Corps de la page -->
    <div id="home" class="container-fluid text-white min-vh-100 d-flex justify-content-center flex-column py-5">

            <div class="col-10 offset-1 d-flex justify-content-center flex-wrap mt-5 ">

                <div class=" me-sm-3">
                    <img src="img/photo_profil.jpg" alt="profil"
                         class="profil-page1 img-fluid rounded-circle border border-5 d-flex justify-content-center align-items-top"/>
                </div>

                <div class=" ms-sm-3 text-center text-md-start">
                        <h1 class="fs-2">Daniel Prabhakar</h1>
                        <h2 class="fs-3">Concepteur Développeur d'Applications Web</h2>
                        <h3 class="fs-4">Région Alsace, France</h3>
                </div>
            </div>


                <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8 col-12 d-flex justify-content-evenly mb-5">
                    <ul class="social_network d-flex justify-content-evenly">
                        <li><a href="#contact"><img src="img/mail-2.png" alt="mail" class="image_contact"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/daniel-prabhakar-dev" target="_blank"><img src="img/linkedin-2.png" alt="linkedin" class="image_contact"></a>
                        </li>
                        <li><a href="{{ path('display_cv') }}" target="_blank"><img src="img/cv-3.png" alt="cv" class="image_contact"></a>
                        </li>
                        <li><a href="https://github.com/danielp67" target="_blank"><img src="img/github-2.png" alt="github" class="image_contact"></a>
                        </li>
                    </ul>
                </div>

    </div>


    <!-- Listes des projets  ------------------------------------------------------------------------------------------->


    <div class="bg-projet-content">
        <div class="container-fluid text-white py-5">
            <section id="project" class="py-5">

            <h2 class="text-projet  text-center">Mes projets</h2>

            <!-- Online Bet -->
            <div class="row mt-5 ">
                <div class=" col-lg-8 offset-lg-1 col-md-10 offset-md-1 text-center d-flex  align-items-center flex-md-row flex-column my-5 bg-glass">
                    <div class="col-md-8 col-12 my-3">
                        <h5 class="">Site de Paris Sportifs avec Symfony, React & Docker</h5>
                       <p class="">Création et développement complet d'un site de Paris Sportif comme un site e-commerce.
                            J'ai réalisé ce projet en équipe, en 4 mois, en utilisant le framework Symfony avec la méthodologie TDD unitaire et fonctionnel.
                            Développement complet sous Docker.
                            J'ai rajouté une implémentation en ReactJS.
                            <br>
                        </p>
                        <p class="">Technologies utilisées : Symfony, Phpunit et Panther pour les tests, Docker, ReactJS,  UML</p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./onlinebet_sport" class="btn btn-danger"
                                                                     target="_blank">Voir le site</a></li>
                            <li><a class="btn btn-danger"
                                   href="https://github.com/danielp67/Online_Bet_Symfony" target="_blank">
                                    <img src="/img/github-2.png" alt="github" class="image_contact2"/>
                                </a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 col-12 my-3">
                    <img src="img/projet6.png" class="img-fluid img-projet" alt="Online Bet Sport display">
                    </div>

                </div>


                <div class=" col-lg-8 offset-lg-3 col-md-10 offset-md-1 text-center d-flex  align-items-center flex-md-row flex-column-reverse my-5 bg-glass">
                    <div class="col-md-4 col-12 my-3">
                        <img src="img/projet3.png" class="img-fluid  img-projet" alt="Ski Championships Manager display">

                    </div>
                    <div class="col-md-8 col-12 my-3">
                        <h5 class="">Application pour gérer les compétitions de skis en PHP et TDD</h5>
                        <p class="">Un système de gestion des compétitions de ski de la police française.
                            J'ai réalisé ce projet en 1 mois en PHP avec une architecture MVC et en TDD, et en implémentant
                            des designs patterns. <br>
                        </p>
                        <p class="">Technologies utilisées : Php dont plusieurs composants de Symfony, UML et wireframe,
                            Phpunit et Pest pour les tests </p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./ski_championships_manager/index.php" class="btn btn-violet"
                                                                     target="_blank">Voir le site</a></li>
                            <li><a class="btn btn-violet"
                                   href="https://github.com/danielp67/Ski_Championship_Manager_PHP" target="_blank">
                                    <img src="/img/github-2.png" alt="github" class="image_contact2"/>
                                </a></li>
                        </ul>
                    </div>

                </div>

                <div class=" col-lg-8 offset-lg-1  col-md-10 offset-md-1 text-center d-flex  align-items-center flex-md-row flex-column my-5 bg-glass">
                    <div class="col-md-8 col-12 my-3">
                        <h5 class="">Site de référencement de jeux vidéos en ReactJS</h5>
                        <p class="">Un site référençant les jeux vidéos les plus populaires.<br>
                            J'ai réalisé ce projet en 3 semaines en ReactJS en implémentant des filtres, une barre de
                            recherche dynamiques ainsi qu'un mode sombre.
                            Enfin l'ajout et l'édition de commentaires. L'application fonctionne en étant connecté à une API que j'ai réalisé avec Symfony.
                        </p>
                        <p class="">Technologies utilisées : ReactJS, Axios pour le Frontend, Symfony et MySQL pour la partie Backend API</p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./online_games_reactjs" class="btn btn-success" target="_blank">Voir le
                                    site</a></li>
                            <li><a class="btn btn-success" href="https://github.com/danielp67/Online_Games_React_JS"
                                   target="_blank">
                                    <img src="/img/github-2.png" alt="github" class="image_contact2"/>
                                </a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 my-3">
                        <img src="img/projet4.png" class="img-fluid img-projet" alt="Online Games reference your best video games">
                    </div>
                </div>


                    <div class="col-lg-8 offset-lg-3 col-md-10 offset-md-1 text-center d-flex  align-items-center flex-md-row flex-column-reverse my-5 bg-glass">
                        <div class="col-md-4 col-12 my-3">
                            <img src="img/projet1.png" class="img-fluid img-projet" alt="amazing bomberman in javascript">
                        </div>

                        <div class="col-8  my-3">
                            <h5 class="">Bomberman en JS</h5>
                            <p class="">Un projet réalisé en 1 semaine en Javascript uniquement. Avec effets spéciaux, et
                                habillage sonore. Fonctionne également sur mobile.</p>
                            <p class="">Technologies utilisées : Javascript, Html, Css</p>
                            <ul class="icon d-flex justify-content-evenly">
                                <li class="d-flex align-items-center"><a href="./bomberman_js/index.html"
                                                                         class="btn btn-warning text-white" target="_blank">Voir le
                                        site</a></li>
                                <li><a class="btn btn-warning" href="https://github.com/danielp67/Bomberman_JS"
                                       target="_blank">
                                        <img src="/img/github-2.png" alt="github" class="image_contact2"/>
                                    </a></li>
                            </ul>
                        </div>
                    </div>

                <div class="col-lg-8 offset-lg-1 col-md-10 offset-md-1 text-center d-flex  align-items-center flex-md-row flex-column my-5 bg-glass">
                    <div class="col-md-8 col-12 my-3">
                        <h5 class="">WeeZip 2.0 en PHP</h5>
                        <p class="">Une alternative à WeTransfer.
                            J'ai réalisé ce projet en 2 semaines en PHP avec une architecture MVC.
                            Possibilité d'envoyer plusieurs fichiers, et gestion du drag and drop.
                        </p>
                        <p class="">Technologies utilisées : Php, Javascript, Html, Css, Mailtrap (pour l'envoi
                            d'email)</p>
                        <ul class="icon d-flex justify-content-evenly">
                            <li class="d-flex align-items-center"><a href="./wetransfer_php/index.php" class="btn btn-primary" target="_blank">Voir le
                                    site</a></li>
                            <li><a class="btn btn-primary" href="https://github.com/danielp67/WeTransfer_php"
                                   target="_blank">
                                    <img src="/img/github-2.png" alt="github" class="image_contact2"/>
                                </a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 my-3">
                        <img src="img/projet2.png" class="img-fluid img-projet" alt="Weezip2.0 an alternative of WeTransfer">
                    </div>
                </div>

            </div>
            </section>





    <!-- Mes compétences -->

            <section id="skill" class="py-5">

                <h2 class="text-projet  text-center">Mes compétences</h2>

                <div class="row">
                    <div class="offset-md-3 col-md-6 text-center">
                        <div class="my-5 bg-glass  d-flex align-content-around  flex-column ">
                            <h3 class="my-3" >Hard Skills</h3>

                            <p class="m-4">Concevoir une application Web à partir d’un cahier des charges ou un
                                scénario utilisateur
                            </p>
                            <p class="m-4 ">Comprendre le besoin client en modélisant une solution adaptée sous
                                forme d’UML
                            </p>
                            <p class="m-4 ">Développer une application organisée en couche (MVC) en intégrant les
                                principes SOLID et les designs patterns
                            </p>
                            <p class="m-4 ">Utiliser la méthodologie TDD
                            </p>
                        </div>
                    </div>

                    <div class="offset-md-3 col-md-6 text-center">
                        <div class="my-5 bg-glass">
                            <h3 class="my-3" >Technologies utilisées</h3>
                            <div class="m-4">
                            <img class="skills-logo" src="/img/svg/symfony.svg" alt="">
                            <img class="skills-logo" src="/img/svg/php-1.svg" alt="">
                            <img class="skills-logo" src="/img/svg/docker-3.svg" alt="">
                            <img class="skills-logo" src="/img/svg/phpunit-2.svg" alt="">
                            <img class="skills-logo" src="/img/svg/mysql-5.svg" alt="">
                            <img class="skills-logo" src="/img/svg/git-icon.svg" alt="">
                            <img class="skills-logo" src="/img/svg/bootstrap-5-1.svg" alt="">

                            <img class="skills-logo" src="/img/svg/react-2.svg" alt="">
                            <img class="skills-logo" src="/img/svg/java.svg" alt="">
                            <img class="skills-logo" src="/img/svg/android-logomark-2.svg" alt="">
                            <img class="skills-logo" src="/img/svg/javascript.svg" alt="">
                            <img class="skills-logo" src="/img/svg/HTML5_logo_and_wordmark-2.svg" alt="">
                            <img class="skills-logo" src="/img/svg/CSS.3-2.svg" alt="">
                        </div>
                        </div>
                    </div>


                    <div class="offset-md-3 col-md-6 text-center">


                        <div class="my-5 bg-glass  d-flex align-content-around  flex-column ">
                            <h3 class="my-3" >Soft Skills</h3>

                            <p class="m-4">Capacité d'adaptation rapide
                            </p>
                            <p class="m-4">Autonome et efficace
                            </p>
                            <p class="m-4">Esprit d’analyse et de synthèse
                            </p>
                        </div>
                    </div>

                    <div class="offset-md-3 col-md-6 text-center">

                        <div class="my-5 bg-glass  d-flex align-content-around  flex-column ">
                            <h3 class="my-3" >Mes ++</h3>

                            <p class="m-4">10 ans d'expériences en tant qu'ingénieur mécanique
                            </p>
                            <p class="m-4">Capable de gérer des projets avec management d’équipe
                            </p>
                            <p class="m-4">Anglais opérationnel
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <section  id="about-me"  class="row d-flex align-items-center py-5">

                <div class="col-lg-4 offset-lg-4 col-10 offset-1 text-center ">

                    <h2 class="text-projet">Qui suis-je ?</h2>
                    <p class="my-5">Bienvenue sur mon profil. <br/>
                        Je m'appelle Daniel, j'ai 32 ans et je vis à Colmar.<br/><br/>

                        Attiré depuis plusieurs années par le domaine informatique, j’ai décidé de
                        me reconvertir pour devenir un concepteur développeur d’applications Web
                        après une formation initiale en tant qu’ingénieur mécanique.<br/><br/>

                        Alors un projet, une idée, ou même tout autre chose... <br/>
                        je suis à votre disposition !
                    </p>
                </div>


            </section>


            <section id="contact" class="row text-center">
                    <h2 class="text-projet">Restons en contact</h2>

                <div class="px-3 my-5 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">


                    {{ form_start(form,  {'attr': {"class" : ""}}) }}

                    <div class="form__group field">

                    {{ form_widget(form.username,  {'attr': {"class" : "form__field", "placeholder" : "Nom"}}) }}
                        <label class="form__label" for="message_username"> <i class="fa fa-user" aria-hidden="true"></i> Votre nom</label>
                        <div class="form-error">
                            {{ form_errors(form.username) }}
                        </div>
                        <br>
                    </div>
                    <div class="form__group field">

                        {{ form_widget(form.email) }}
                        <label class="form__label" for="message_email"> <i class="fa fa-envelope" aria-hidden="true"></i>
                            Votre email</label>
                        <div class="form-error">
                            {{ form_errors(form.email) }}
                        </div>
                        <br>
                    </div>
                    <div class="form__group field">
                        {{ form_widget(form.content) }}
                        <label class="form__label" for="message_content"> <i class="fa fa-pencil" aria-hidden="true"></i>
                            Votre message</label>
                        <div class="form-error">
                            {{ form_errors(form.content) }}
                        </div>
                        <br>
                    </div>

                    <button type="submit" class="btn bg-glass submit-button text-white">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Envoyer
                    </button>

                    {{ form_end(form) }}

                </div>
            </section>

        </div>

        <a id="floating-button" href="#" class="float border" style="opacity: 0;">
            <i class="fa fa-chevron-up my-float"></i>
        </a>


        <footer id="bg-footer" class="bg-glass-2 container-fluid">
            <div class="row h-50 d-inline-block d-flex justify-content-center icon-page1">
                <div class="col-md-4 col-12 d-flex justify-content-evenly">
                    <ul class="social_network">
                        <li><a href="#contact"><img src="img/mail-2.png" alt="mail" class="image_contact"></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/daniel-prabhakar-dev" target="_blank">
                                <img src="img/linkedin-2.png" alt="instagram" class="image_contact"></a>
                        </li>
                        <li><a href="{{ path('display_cv') }}" target="_blank"><img src="img/cv-3.png" alt="cv" class="image_contact"></a>
                        </li>
                        <li><a href="https://github.com/danielp67" target="_blank">
                                <img src="img/github-2.png" alt="github" class="image_contact"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>

    </div>


    <div id="bottom-shadow" class="bottom-shadow">

    </div>

{% endblock %}
